 .toggle-code {
  display: inline-block;
  background: $lightest-gray;
  border: 1px solid $light-gray;
  margin-bottom: 8px;
  padding: 4px 8px;
  @include border-radius;
}

.button {
  @include border-radius;
}

.button-group {
  .button {
    border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;

    &:first-child {
      border-radius: $radius 0 0 $radius;
    }

    &:last-child {
      border-radius: 0 $radius $radius 0;
    }
  }
}
