a, button, .btn-default, .btn-primary, .btn-secondary, .btn-save {
  transition: all .10s ease-in-out;
  -moz-transition: all .10s ease-in-out;
  -webkit-transition: all .10s ease-in-out;
  &:focus {
    outline: none;
  }
}

button, .btn-default, .btn-primary, .btn-secondary, .btn-save {
  border-radius: $border-radius-medium;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.btn-wide {
  @include fill-parent;
}

// Anchor tags

a {
  color: $link-color;
  border-bottom: 1px solid $link-color;
  padding-bottom: 2px;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid transparent;
  }
}

.dark-background {
  margin: 20px 0 0 0;
  padding: 10px 15px 17px 15px;
  a {
    color: white;
    border-color: white;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}

// Buttons

button, .btn-default {
  background-color: $dark-gray;
  border: 1px solid $darkest-gray;
  color: white;
  &:hover {
    background-color: $darkest-gray;
  }
}

.btn-primary {
  background-color: $blue;
  border: 1px solid $dark-blue;
  &:hover {
    background-color: $dark-blue;
  }
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid $dark-blue;
  color: $dark-blue;
  &:hover {
    background-color: $dark-blue;
    color: white;
  }
}

.btn-save, input[type="submit"] {
  background-color: $success-color;
  border: 1px solid shade($success-color, 10%);
  &:hover {
    background-color: shade($success-color, 10%);
  }
}

.text-link {
  @include text-link;
}

// Small Buttons

.btn-small {
  padding: 5px 10px;
  font-size: 14px;
}

.btn-small.text-link {
  padding: 0;
  font-size: 14px;
}
