.beige-bg {
  background: $beige;
  margin-bottom: 20px;
  padding: 20px 25px;
}

// Cards

.card {
  @include card;
  &:last-child {
    margin-bottom: 0;
  }

  .header {
    background: $lightest-gray;
    border-bottom: 1px solid lighten($light-gray, 3%);
    border-radius: $radius $radius 0 0;
    padding: 15px 30px;

    h1 {
      margin-bottom: 0;
    }
  }

  .content {
    padding: 30px;
  }

  .footer {
    border-top: 1px solid $light-gray;
    padding: 20px 30px;

    button,
    .button {
      margin: 0 5px 0 0;
    }
  }
}
