.form-control, select {
  &:hover {
    border-color: shade($light-gray, 10%)
  }

  &:focus {
    box-shadow: 0 0 0 1px shade($light-gray, 3%);
    outline: 0;
  }

  transition: all .10s ease-in-out;
  -moz-transition: all .10s ease-in-out;
  -webkit-transition: all .10s ease-in-out;
}

.form-control {
  background-color: white;
  background-image: none;
  border: 1px solid $light-gray;
  border-radius: $border-radius-medium;
  color: $dark-gray;
  display: block;
  font-size: 15px;
  margin: 0 0 10px 0;
  padding: 10px 15px;
  width: 100%;
}

label {
  color: $dark-gray;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 600;
}

input {
  border: 1px solid $light-gray;
  border-radius: $border-radius-medium;
  font-size: 15px;
  padding: 10px 15px;
}

input[type=file] {
  border: 0;
  display: block;
  padding: 0;
}

.form-actions {
  margin-top: 20px;
  .btn-save {
    margin-right: 10px;
  }
}

.checkbox label {
  font-weight: 500;
}

.help-block {
  margin: 10px 0;
}

// Inline form

.form-inline {
  label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  .form-actions {
    display: inline-block;
  }

  input {
    margin: 0 5px 0 0;
  }
}

.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.form-inline .form-control-static {
  display: inline-block;
}
.form-inline .input-group {
  display: inline-table;
  vertical-align: middle;
}
.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control {
  width: auto;
}
.form-inline .input-group > .form-control {
  width: 100%;
}
.form-inline .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .radio,
.form-inline .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .radio label,
.form-inline .checkbox label {
  padding-left: 0;
}
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}
.form-inline .has-feedback .form-control-feedback {
  top: 0;
}

.form-error {
  border: 1px solid lighten($error-color, 25%);
  &:hover {
    border-color: $error-color;
  }
  &:focus {
    box-shadow: 0 0 0 1px shade($error-color, 1%);
  }
}

.error-text {
  color: $error-color;
}

// Raidos & Checkboxes

input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + label span {
  display:inline-block;
  width:24px;
  height:24px;
  margin:-1px 8px 0 0;
  vertical-align:middle;
  background:url('/images/check-sprite-2x.png') left top no-repeat;
  background-size: 24px 384px;
  cursor:pointer;
  &:hover {
    background:url('/images/check-sprite-2x.png') left -72px no-repeat;
    background-size: 24px 384px;
  }
}

input[type="checkbox"]:checked + label span {
  background:url('/images/check-sprite-2x.png') left -120px no-repeat;
  background-size: 24px 384px;
  &:hover {
    background:url('/images/check-sprite-2x.png') left -96px no-repeat;
    background-size: 24px 384px;
  }
}

input[type="checkbox"]:disabled + label span {
  background:url('/images/check-sprite-2x.png') left -48px no-repeat;
  background-size: 24px 384px;
  cursor: not-allowed;
}

input[type="radio"] {
  display:none;
}

input[type="radio"] + label span {
  display:inline-block;
  width:24px;
  height:24px;
  margin:-1px 8px 0 0;
  vertical-align:middle;
  background:url('/images/check-sprite-2x.png') left -216px no-repeat;
  background-size: 24px 384px;
  cursor:pointer;
  &:hover {
    background:url('/images/check-sprite-2x.png') left -288px no-repeat;
    background-size: 24px 384px;
  }
}

input[type="radio"]:checked + label span {
  background:url('/images/check-sprite-2x.png') left -336px no-repeat;
  background-size: 24px 384px;
  &:hover {
    background:url('/images/check-sprite-2x.png') left -312px no-repeat;
    background-size: 24px 384px;
  }
}

input[type="radio"]:disabled + label span {
  background:url('/images/check-sprite-2x.png') left -264px no-repeat;
  background-size: 24px 384px;
  cursor: not-allowed;
}

select {
  background: url('/images/arrow-down.svg') no-repeat 90% 50%;
  border: 1px solid $light-gray;
  cursor: pointer;
  font: 15px $font-family-base;
  padding: 10px 35px 10px 15px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
