.top-bar {
  background: $brand;
  padding: 0;
  .logo {
    margin: 10px 20px;
    width: 150px;
  }
  ul {
    background: transparent;
  }

  .menu {
    padding: 0 20px;
    a {
      color: white;
      margin: 0;
      padding: 20px 15px;
      &:hover {
        background: $brand-dark;
      }
    }
  }
}
