.list-unstyled {
  li {
    list-style: none;
  }
}

.list-horizontal {
  @include horizontal-list;
}

li {
  margin-bottom: 8px;
  font-size: inherit;
  &:last-child {
    margin-bottom: 0;
  }
}

ol {
  padding-left: 20px;
}

.list-unstyled {
  @include list-unstyled;
}

.menu-items {
  @include list-unstyled;
  .sortable-item {
    background: white;
    border: 1px solid $light-gray;
    border-radius: $border-radius-medium;
    list-style: none;
    margin-bottom: 5px;
  }

  .thumb {
    height: 40px;
    margin: 10px 0 10px 10px;
    width: 40px;
  }

  .delete {
    border: 0;
    display: inline-block;
    padding: 20px 15px;
    &:hover {
      opacity: .7;
    }
  }
}

.move-handle {
  border: 0;
  border-right: 1px solid $light-gray;
  cursor: move;
  display: inline-block;
  padding: 25px 15px;
  &:hover {
    border: 0;
    border-right: 1px solid $light-gray;
  }
  span {
    background: $light-gray;
    border-radius: $border-radius-medium;
    display: block;
    height: 2px;
    width: 20px;
    margin-bottom: 3px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

a:hover .item-label, a:hover img {
  opacity: .7;
}

.item-label {
  margin: 10px 0;
  padding-left: 10px;
  width: 512px;
  .name, .brand {
    display: block;
  }
  .name {
    border: 0;
    color: $darkest-gray;
    font-size: 20px;
    font-weight: 500;
    padding: 0;
  }
  .brand {
    color: $medium-gray;
    font-size: 15px;
    margin: 0;
  }
}

.expanded-item {
  border-top: 1px solid $light-gray;
  padding: 15px;
  float: left;

  span {
    margin: 0 5px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

form {
  margin: 10px 0;
}

.form-actions {
  .delete {
    background-image: url(/images/trash-can-med-gray.svg);
    background-repeat: no-repeat;
    padding: 0;
    text-indent: 20px;
  }
}
