#location-bar {
  @include clearfix;
  background: $darkest-gray;
  padding: 10px 0;

  .location-current {
    display: inline-block;
  }

  span {
    color: white;
    font-size: 21px;
  }

  .btn-secondary {
    border-color: white;
    color: white;
    &:hover {
      background: white;
      color: $darkest-gray;
    }
  }

  // Expander
  .expander-trigger {
    &:after {
      content: "\2715";
    }
  }

  .expander-hidden {
    &:after {
      content: "Change \25BE";
    }
  }

  .expander-hidden + .expander-content {
    display: none;
  }

  .btn-close {
    border-radius: 30px;
  }

  #location-list {
    border-top: 1px solid $dark-gray;
    font-size: 18px;
    margin: 15px 0 0 0;
    padding: 10px 0 0 0;
    li {
      list-style: none;
      margin: 0;
    }
    a {
      border: 0;
      color: white;
      display: block;
      padding: 10px 0;
      &:hover {
        border-left: 4px solid white;
        padding-left: 15px;
      }
    }
  }
}
