.media-object {
  @include card;
  padding: 10px;

  .thumbnail {
    border: 0;
    box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    height: 40px;
    padding: 0;
    width: 40px;
  }

  .brewery, span {
    color: $dark-gray;
    font-size: 1rem;
  }

  h5 {
    line-height: 0.9;
    margin: 0;
  }
}
