// Ratings

.rating.small {
  display: inline-block;
  height: 18px;
  width: 100px;
  background-image:image-url("/images/ratings_quarters_small.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100px 442px;
  background-repeat: no-repeat;
  vertical-align: middle;
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .rating.small {
    background-image: image-url("/images/ratings_quarters_small.png");
  }
}

.rating.small.r000 {
  background-position: 0 0;
}

.rating.small.r025 {
  background-position: 0 -22px;
}

.rating.small.r050 {
  background-position: 0 -43px;
}

.rating.small.r075 {
  background-position: 0 -64px;
}

.rating.small.r100 {
  background-position: 0 -85px;
}

.rating.small.r125 {
  background-position: 0 -106px;
}

.rating.small.r150 {
  background-position: 0 -127px;
}

.rating.small.r175 {
  background-position: 0 -148px;
}

.rating.small.r200 {
  background-position: 0 -170px;
}

.rating.small.r225 {
  background-position: 0 -191px;
}

.rating.small.r250 {
  background-position: 0 -212px;
}

.rating.small.r275 {
  background-position: 0 -233px;
}

.rating.small.r300 {
  background-position: 0 -254px;
}

.rating.small.r325 {
  background-position: 0 -275px;
}

.rating.small.r350 {
  background-position: 0 -296px;
}

.rating.small.r375 {
  background-position: 0 -318px;
}

.rating.small.r400 {
  background-position: 0 -339px;
}

.rating.small.r425 {
  background-position: 0 -360px;
}

.rating.small.r450 {
  background-position: 0 -381px;
}

.rating.small.r475 {
  background-position: 0 -402px;
}

.rating.small.r500 {
  background-position: 0 -423px;
}
