.navigation#sg {
  background-color: $untappd-yellow;
  width: 100%;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
  }

  .logo {
    margin-top: 12px;
    img {
      width: 150px;
    }
  }

  a {
    border-bottom: 0;
  }

  .navigation-menu {
    a {
      border: 0;
      color: white;
      font-size: 18px;
      padding: 20px 15px;
      letter-spacing: .05em;
      &:hover {
        border: 0;
        background: $untappd-yellow-dark;
      }
    }
  }
}

pre {
  margin: 20px 0;
}

section {
  margin: 20px 0;
}

.subsection {
  margin: 20px 0;
}

.margin-small {
  margin: 20px 0;
}

.sg-nav-vertical {
  padding-left: 0;
  li {
    list-style: none;
    margin-bottom: 5px;
  }
  a {
    color: $dark-gray;
    border: 0;
    display: block;
    font-size: 18px;
    padding: 5px 0;
    span {
      color: $link-color;
      font-size: 12px;
    }
    &:hover {
      border: 0;
      border-left: 4px solid $untappd-yellow;
      padding-left: 15px;
    }
  }
}

.subsection .navigation-wrapper {
  padding: 0 15px;
}

.location-bar-inner {
  margin: 0 15px;
}

#top {
  -moz-box-shadow: 0 2px 5px 0 rgba($medium-gray, .5);
  -webkit-box-shadow: 0 2px 5px 0 rgba($medium-gray, .5);
  box-shadow: 0 2px 5px 0 rgba($medium-gray, .5);

  background: $darkest-gray;
  border: 0;
  border-radius: 50px;
  color: white;
  display: block;
  font-size:18px;
  font-weight: 600;
  padding-top: 11px;
  text-align: center;

  width: 50px;
  height: 50px;

  position: fixed;
  bottom: 20px;
  right: 20px;

  &:hover {
    -moz-box-shadow: 0 5px 5px 0 rgba($medium-gray, .5);
    -webkit-box-shadow: 0 5px 5px 0 rgba($medium-gray, .5);
    box-shadow: 0 5px 5px 0 rgba($medium-gray, .5);

    background: black;
    bottom: 23px;
  }
}
