body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: .15px;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
  text-transform: uppercase;
}

.description {
  color: $dark-gray;
  margin: 0;
}

p {
  color: $black;
}

.content p {

  &:last-child {
    margin-bottom: 0;
  }
}
