@import "normalize";
@import "bourbon";
@import "neat";

@import "mixins";
@import "variables";
@import "helper_classes";

@import "sidebar";
@import "typography";
@import "buttons";
@import "forms";

@import "prism";

// Template Level Elements
.container {
  @include outer-container;

  .sidebar {
    @include span-columns(4);
  }

  .main {
    @include span-columns(8);
  }

  // For Style Guide only

  pre {
    margin: 20px 0;
  }

  section {
    margin: 30px 0;
  }

  .subsection {
    margin: 40px 0;
  }

  .margin-small {
    margin: 10px 0 20px 0;
  }
}
