<section id="breadcrumbs">
  <div class="card" id="primary-content">
    <div class="header">
      <h4>Breadcrumbs</h4>
    </div>
    <div class="content">
      <div class="section">
        <% example do %>
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Features</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Cloning
    </li>
    <li class="disabled">Gene Splicing</li>
  </ul>
</nav>
      <% end %>
    </div>
  </div>
</div>
