<section id="cards">
  <div class="card" id="primary-content">
    <div class="header">
      <h4>Cards</h4>
    </div>
    <div class="content">
      <div class="section">
        <h6>Card With Content</h6>
        <% example do %>
<div class="card">
  <div class="content">
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
  </div>
</div>
        <% end %>
      </div>

      <div class="section">
        <h6>Card With Header</h6>
        <% example do %>
<div class="card">
  <div class="header">
    <h4>Card Title</h4>
  </div>
  <div class="content">
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
  </div>
</div>
        <% end %>
      </div>

      <div class="section">
        <h6>Card With Header and Footer</h6>
        <% example do %>
<div class="card">
  <div class="header">
    <h4>Card Title</h4>
  </div>
  <div class="content">
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
  </div>
  <div class="footer">
    <button class="button success">Save this thing</button>
    or <a href="#">secondary action</a>
  </div>
</div>
        <% end %>
      </div>

      <div class="section">
        <h6>Card Header With Button</h6>
        <% example do %>
<div class="card">
  <div class="header">
    <h4>Card Title</h4>
    <div class="float-right">
      <button class="button primary">Do Something</button>
    </div>
  </div>

  <div class="content">
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
  </div>
</div>
        <% end %>
      </div>

      <div class="section">
        <h6>Car Header With Label</h6>
        <% example do %>
<div class="card">
  <div class="header">
    <h4>Card Title</h4>
    <div class="float-right">
      <span class="success label">Success Label</span>
    </div>
  </div>

  <div class="content">
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
  </div>
</div>
        <% end %>
      </div>

      <div class="section">
        <h6>Card With Navigation</h6>
        <% example do %>
<div class="card">
  <div class="header">
    <h4>Card Title</h4>

    <ul class="tabs float-right" data-tabs id="example-tabs">
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Tab 1</a></li>
      <li class="tabs-title"><a href="#panel2">Tab 2</a></li>
      <li class="tabs-title"><a href="#panel3">Tab 3</a></li>
      <li class="tabs-title"><a href="#panel4">Tab 4</a></li>
      <li class="tabs-title"><a href="#panel5">Tab 5</a></li>
      <li class="tabs-title"><a href="#panel6">Tab 6</a></li>
    </ul>
  </div>
  <div class="content">
    <div class="tabs-content" data-tabs-content="example-tabs">
      <div class="tabs-panel is-active" id="panel1">
        <h5>Tab One</h5>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
      </div>
      <div class="tabs-panel" id="panel2">
        <h5>Tab Two</h5>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus.</p>
      </div>
      <div class="tabs-panel" id="panel3">
        <h5>Tab Three</h5>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
      </div>
      <div class="tabs-panel" id="panel4">
        <h5>Tab Four</h5>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus.</p>
      </div>
      <div class="tabs-panel" id="panel5">
        <h5>Tab Five</h5>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
      </div>
      <div class="tabs-panel" id="panel6">
        <h5>Tab Six</h5>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus.</p>
      </div>
    </div>
  </div>
</div>
        <% end %>
      </div>

      <div class="section">
        <h6>Card With Breadcrumbs</h6>
        <% example do %>
<div class="card">
  <div class="header">
    <h4>Card Title</h4>
  </div>

  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="#">Step One</a></li>
      <li><a href="#">Step Two</a></li>
      <li>
        <span class="show-for-sr">Current: </span> Current Step
      </li>
      <li class="disabled">Next Step</li>
    </ul>
  </nav>

  <div class="content">
    <h5>Tab Two</h5>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus.</p>
  </div>
</div>
        <% end %>
      </div>
    </div>
  </div>
</section>
