<div class="top-bar">
  <div class="top-bar-left">
    <a href="/"><img class="logo" src="images/untappd-logo.svg" /></a>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="/">Web Componenents</a></li>
      <li><a href="/voice.html">Voice and Tone</a></li>
    </ul>
  </div>
</div>
