<section id="helpers">
  <div class="card" id="primary-content">
    <div class="header">
      <h2>Helper Classes</h2>
    </div>
    <div class="content">
      <div class="section">
        <h5>Text Alignment</h5>
        <p>Align elements by adding <code>.left</code>, <code>.right</code>, <code>.center</code> or <code>.justify</code> classes.</p>
      </div>

      <div class="section">
        <h5>Floats</h5>
        <% example do %>
<div class="callout clearfix">
  <a class="button primary float-left">Left</a>
  <a class="button primary float-right">Right</a>
</div>
        <% end %>
      </div>

      <div class="section">
        <h5>Other Helpers</h5>
        <p>Remove margin by adding <code>.no-margin</code>.</p>
        <p>Remove padding by adding <code>.no-padding</code>.</p>
      </div>
    </div>
  </div>
</section>
