<section id="labels">
  <div class="card" id="primary-content">
    <div class="header">
      <h4>Labels</h4>
    </div>
    <div class="content">
      <% example do %>
<div class="label-container">
  <span class="label primary">Primary Label</span>
  <span class="secondary label">Secondary Label</span>
  <span class="success label">Success Label</span>
  <span class="alert label">Alert Label</span>
  <span class="warning label">Warning Label</span>
</div>
      <% end %>
    </div>
  </div>
</section>
