<section id="modal">
  <div class="card" id="primary-content">
    <div class="header">
      <h4>Modal Window</h4>
    </div>
    <div class="content">
      <div class="section">
        <h6>Basics</h6>
        <p>A modal is just an empty container, so you can put any kind of content inside it, from text to forms to video to an entire grid.</p>
        <% example do %>
<a class="button primary" data-open="exampleModal2">Click for modal example</a><br />
<div class="reveal card small" id="exampleModal2" data-reveal>
  <div class="header">
    <h4>Modal Title</h4>
    <button class="close-button float-right" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span> Close
    </button>
  </div>
  <div class="content">
    <h6>Modal Content</h6>
    <p>Donec sed odio dui. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum.</p>
  </div>
</div>
        <% end %>
      </div>
      <div class="section">
        <h6>Sizing</h6>
        <p>On small screens, a modal is always 100% of the width of the screen. On medium-sized screens and larger, the width changes to 80%.</p>
        <p>The size of a modal can be changed with these sizing classes, which are added to the modal container:</p>
        <ul>
          <li><code>.tiny</code>: 30% wide</li>
          <li><code>.small</code>: 50% wide</li>
          <li><code>.large</code>: 90% wide</li>
          <li><code>.full</code>: 100% width and height, defaults the <code>escClose</code> option to true, as well as creates a close button.</li>
      </div>
    </div>
  </div>
</section>
