<section id="rows">
  <div class="card" id="primary-content">
    <div class="header">
      <h4>Rows</h4>
    </div>
    <div class="content">
      <div class="section">
        <h6>New Item</h6>
        <% example do %>
<div class="new-item">
  <div class="text-block">
    <div class="line-1"></div>
    <div class="line-2"></div>
  </div>
  <a class="button primary">+ Add New Thing</a>
</div>
        <% end %>
      </div>

      <div class="section">
        <h6>Menu Section</h6>
        <% example do %>
<!-- Section Row -->
<div class="row-cell">
  <div class="row-detail">
    <h5>Section Title <span>(00 Beers)</span></h5>
  </div>

  <div class="row-actions">
    <div class="hover-actions">
      <a href="#"><img src="/images/icons/delete.svg"></a>
      <a href="#"><img src="/images/icons/move.svg"></a>
    </div>
    <a href="#"><img src="/images/icons/disclosure.svg"></a>
  </div>
</div>
        <% end %>
      </div>

      <div class="section">
        <h6>Menu Item</h6>
        <%example do %>
<!-- Item -->
<div class="row-cell">
  <div class="tap-number">
    <input type="text" placeholder="Tap #">
  </div>

  <img class="thumbnail" src="https://untappd.akamaized.net/site/assets/images/temp/badge-beer-default.png">

  <div class="row-detail">
    <h5>Beer Name</h5>
    <span class="detail">Brewery Name • Beer Style • 5.3% ABV • 80 IBU • 150-300 Cals</span>
  </div>

  <div class="row-actions">
    <div class="hover-actions">
      <a href="#"><img src="/images/icons/delete.svg"></a>
      <a href="#"><img src="/images/icons/move.svg"></a>
    </div>
    <a href="#"><img src="/images/icons/disclosure.svg"></a>
  </div>
</div>
        <% end %>
      </div>

    <div class="section">
      <h6>Event</h6>
      <% example do %>
<!-- Event -->
<div class="row-cell">
  <div class="event-date">
    <span class="date">00</span>
    <span class="month">MAR</span>
  </div>

  <div class="row-detail">
    <h5>Event Name</h5>
    <span class="detail">Event description goes here</span>
  </div>

  <div class="row-actions">
    <div class="hover-actions">
      <a href="#"><img src="/images/icons/edit.svg"></a>
      <a href="#"><img src="/images/icons/delete.svg"></a>
    </div>
    <a href="#"><img src="/images/icons/disclosure.svg"></a>
  </div>
</div>
      <% end %>
    </div>

    <div class="section">
      <h6>Announcement</h6>
      <% example do %>
<!-- Announcement -->
<div class="row-cell">
  <div class="row-detail">
    <h5>Announcement Title</h5>
    <span class="detail">Announcement text goes here.</span>
  </div>

  <div class="row-actions">
    <div class="hover-actions">
      <a href="#"><img src="/images/icons/edit.svg"></a>
      <a href="#"><img src="/images/icons/delete.svg"></a>
    </div>
    <a href="#"><img src="/images/icons/disclosure.svg"></a>
  </div>
</div>
      <% end %>
    </div>
  </div>
</section>
