<section id="tags">
  <div class="card" id="primary-content">
    <div class="header">
      <h4>Tags</h4>
    </div>
    <div class="content">
      <% example do %>
  <span class="primary tag">Primary tag</span>
  <span class="secondary tag">Secondary tag</span>
      <% end %>
    </div>
  </div>
</section>
