<section id="callouts">
  <div class="card" id="primary-content">
    <div class="header">
      <h4>Tooltip</h4>
    </div>
    <div class="content">
      <% example do %>
<p>The <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover='false' tabindex=1 title="Fancy word for a beetle.">scarabaeus</span> hung quite clear of any branches, and, if allowed to fall, would have fallen at our feet.</p>
      <% end %>
      <h6>Tooltip Direction</h6>
      <p>Use <code>.top</code>, <code>.right</code> or <code>.left</code> to change the direction of the too-tip.</p>
    </div>
  </div>
</section>
