<section id="typography">
  <div class="card" id="primary-content">
    <div class="header">
      <h4>Typography</h4>
    </div>
    <div class="content">
      <div class="section">
        <h6>Headers</h6>
        <% example do %>
<h1>h1. This is a very large header.</h1>
<h2>h2. This is a large header.</h2>
<h3>h3. This is a medium header.</h3>
<h4>h4. This is a moderate header.</h4>
<h5>h5. This is a small header.</h5>
<h6>h6. This is a tiny header.</h6>
        <% end %>
      </div>

      <div class="section">
        <h6>Small Header Segments</h6>
        <% example do %>
<h3>Untappd for Business <small>2.0</small></h3>
        <% end %>
      </div>

      <div class="section">
        <h6>Paragraphs</h6>
        <% example do %>
<p>This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that there are storms occurring on Jupiter that are larger than the Earth? Pretty cool. Wrap strong around type to <strong>make it bold</strong>. You can also use em to <em>italicize your words</em>.</p>
        <% end %>
      </div>

      <div class="section">
        <h6>Links</h6>
        <% example do %>
<p>Links are very standard. <a href="global.html">This is a link.</a></p>
        <% end %>
      </div>

      <div class="section">
        <h6>Dividers</h6>
        <% example do %>
<hr>
        <% end %>
      </div>

      <div class="section">
        <h6>Ordered List</h6>
        <% example do %>
<ul>
  <li>List item with a much longer description or more content.</li>
  <li>List item</li>
  <li>List item
    <ul>
      <li>Nested list item</li>
      <li>Nested list item</li>
      <li>Nested list item</li>
    </ul>
  </li>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
</ul>
        <% end %>
      </div>

      <div class="section">
        <h6>Unordered List</h6>
        <% example do %>
<ol>
  <li>Cheese (essential)</li>
  <li>Pepperoni</li>
  <li>Bacon
    <ol>
      <li>Normal bacon</li>
      <li>Canadian bacon</li>
    </ol>
  </li>
  <li>Sausage</li>
  <li>Onions</li>
  <li>Mushrooms</li>
</ol>
        <% end %>
      </div>

      <div class="section">
        <h6>Untstyled List</h6>
        <% example do %>
<ol class="no-bullet">
  <li>Cheese (essential)</li>
  <li>Pepperoni</li>
  <li>Bacon</li>
  <li>Sausage</li>
  <li>Onions</li>
  <li>Mushrooms</li>
</ol>
        <% end %>
      </div>
    </div>
  </div>
</section>
