<section id="helpers">
  <div class="card" id="primary-content">
    <div class="header">
      <h4>Untappd Voice and Tone</h4>
    </div>
    <div class="content">
      <div class="section">
        <h5>Our Voice</h5>
        <p>The Untappd voice is human. It’s personal and interested. Overall, we are very colloquial, conversational. We want to give the user the impression that we would be a fun person to meet out at the bar and for a beer. In that sense, we are youthful, but not immature. When speaking about events, we are current, but not controversial. Free of presumption and pretension; we are enthusiastic about beer and the community surrounding it. Our voice is playfully chiding, but never insulting or condescending. It is always positive, knowledgeable, and empowers our users.</p>

        <h5> Our Tone</h5>
        <p>Recognize the state of mind of the users and respond accordingly. Personal, supportive, informative and jovial.</p>

        <h5>Content Types</h5>
        <ul>
          <li>Website</li>
          <li>Badges</li>
          <li>Social Media Posts
            <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Instagram</li>
            </ul>
          </li>
          <li>Blog</li>
          <li>Support Emails</li>
          <li>Nurturing Emails</li>
        </ul>

        <h6>Key Tonal Markers</h6>
        <ul>
          <li>Colloquial</li>
          <li>Personal</li>
          <li>Empowering</li>
          <li>Enthusiastic</li>
        </ul>

        <h6>George Orwell's Six Elementary Rules</h6>
        <ul>
          <li>Never use a <a hfef="http://www.economist.com/style-guide/metaphors">Metaphor</a>, simile or other figure of speech which you are used to seeing in print.</li>
          <li>Never use a long word where a short one will do (see Short words).</li>
          <li>If it is possible to cut out a word, always cut it out (see Unnecessary words).</li>
          <li>Never use the <a href="http://www.economist.com/style-guide/passive">Passive</a> where you can use the active.</li>
          <li>Never use a foreign phrase, a scientific word or a <a href="http://www.economist.com/style-guide/jargon">Jargon</a> word if you can think of an everyday English equivalent.</li>
          <li>Break any of these rules sooner than say anything outright barbarous (see <a href="http://www.economist.com/style-guide/iconoclasm">Iconoclasm</a>)</li>
        </ul>

        <h6>Use active voice. Avoid passive voice.</h6>
        <p>In active voice, the subject of the sentence does the action. In passive voice, the subject of the sentence has the action done to it.</p>

        <ul class="no-bullet quote">
          <li>👍 <q>Kurt logged into the account.</q></li>
          <li>👎 <q>The account was logged into by Kurt.</q></li>
        </ul>

        <p>Words like “was” and “by” may indicate that you’re writing in passive voice. Scan for these words and rework sentences where they appear.</p>

        <p>One exception is when you want to specifically emphasize the action over the subject. In some cases, this is fine.</p>
        <ul class="no-bullet quote">
          <li><q>Your account was flagged by our abuse team.</q></li>
        </ul>

        <h6>Grammar and Usage</h6>
        <ul>
          <li>Abbreviations and Acronyms: If you think it’s possible a reader won’t recognize, when there’s room, spell out words if possible.</li>
          <li><span class="defined">Ampersands:</span> If possible, avoid them.</li>
          <li><span class="defined">Capitalization:</span> Capitalize words for humor, not for emphasis. Only use in positive statements should.</li>
          <li><span class="defined">Commas:</span> We like Oxford Commas.</li>
          <li><span class="defined">Contractions:</span> Use them! These enhance our conversational voice.</li>
          <li><span class="defined">Countries, Cities and States:</span> When abbreviating…</li>
          <li><span class="defined">Dates:</span> When abbreviating, use three letters, even for months that are less than five letters</li>
          <li><span class="defined">Ellipses:</span> Use an ellipses (…) to signal that you’re omitting words from a quotations or trailing off before a thought has ended. They can also be used to add humorous pauses or before punchlines. Do not add spaces around ellipses.</li>
          <li><span class="defined">Emoji:</span> Emoji are a fun way to add humor and visual interest to your writing, but use them infrequently and deliberately.</li>
          <li><span class="defined">Exclamation Points:</span> Use judiciously, but do not be afraid to express excitement to our users. No more than one per paragraph, preferably. If you think a statement may be offensive or too aggressive, use a period instead.</li>
          <li><span class="defined">Facebook:</span> Capitalize Facebook, but not “like”</li>
          <li><span class="defined">File extensions:</span> When referring generally to a file extension type, use all uppercase without a period. Add a lowercase s to make plural.
            <ul>
              <li>GIF</li>
              <li>PDF</li>
              <li>HTML</li>
              <li>JPGs</li>
            </ul>

            <span>When referring to a specific file, the filename should be lowercase:</span>
            <ul>
              <li>slowclap.gif</li>
              <li>UTBenefits.pdf</li>
              <li>ben-twitter-profile.jpg</li>
              <li>ilovebeer.html</li>
            </ul>
          </li>
          <li><span class="defined">Italics:</span> Avoid italics, unless they are proper nouns or quotes.</li>
          <li><span class="defined">Numbers:</span> Spell out one through nine and first through ninth. Spell out any number if it’s the first word of a sentence. Spell out “percent.”
            <span>Numbers over three digits get commas:</span>
            <ul>
              <li>999</li>
              <li>1,000</li>
              <li>150,000</li>
            </ul>
            <span>Write out big numbers in full. Abbreviate them if there are space restraints, as in a tweet or a chart: 1k, 150k.</span>
          </li>
          <li><span class="defined">Twitter:</span> Do not capitalize twitter or tweet.</li>
          <li><span class="defined">Times:</span> Use numerals and am or pm without a space. Don’t use minutes for on-the-hour time.
            <ul>
              <li>7am</li>
              <li>7:30pm</li>
            </ul>
            <span>Use a hyphen between times to indicate a time period.</span>
            <ul>
              <li>7am-10:30pm</li>
            </ul>
            <span>Specify time zones when writing about an event or something else people would need to schedule. Abbreviate time zones within the continental United States as follows:</span>
            <ul>
              <li>Eastern time: ET</li>
              <li>Central time: CT</li>
              <li>Mountain time: MT</li>
              <li>Pacific time: PT</li>
            </ul>
          </li>
          <li><span class="defined">Quotation marks:</span> Use quotes to refer to words and letters, titles of short works (like articles and poems), and direct quotations.
            <p>Periods and commas go within quotation marks. Question marks within quotes follow logic—if the question mark is part of the quotation, it goes within. If you’re asking a question that ends with a quote, it goes outside the quote.</p>
            <p>Use single quotation marks for quotes within quotes.</p>
            <ul class="no-bullet quote">
              <li>Who was it that said, <q>A fool and his beer are easily parted</q>?</li>
              <li>Brad said, <q>A wise man once told me, ‘A fool and his beer are easily parted.’</q></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

