@import '../stylesheets/theme';

#sidebar {
  margin-top: $spacing-lg;

  ul {
    margin: 0;
  }
}

#primary-content {
  margin: $spacing-lg 0;
}

.section {
  margin: 30px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.pipe {
  color: $medium-gray;
  padding: 0 3px;
}

// Links
a {
  cursor: pointer;
  line-height: inherit;

  &:hover,
  &:focus {
    @if $anchor-text-decoration-hover != $anchor-text-decoration {
      text-decoration: $anchor-text-decoration-hover;
    }
  }

  img {
    border: 0;
  }
}

.toggle-code {
  @include border-radius;
  background: $lightest-gray;
  color: $blue;
  display: inline-block;
  margin: 8px 0;
  padding: 5px 8px;
  transition: $transition;

  &:hover {
    background: darken($lightest-gray, 2%);
    color: $blue;
  }

  &:active {
    color: $blue;
  }

  &:focus {
    color: $blue;
  }
}


#back-top {
  bottom: 20px;
  position: fixed;
  right: 2%;
  z-index: 100;

  a {
    background: $blue;
    border-radius: 50%;
    display: inline-block;
    height: 60px;
    padding-top: 16px;
    text-align: center;
    width: 60px;
  }
}

