.button {
  @include border-radius;
  font-size: 1em;
  padding: .6em 1em;
  position: relative;
  transition: $transition;

  &:hover,
  &:focus {
    box-shadow: $box-shadow-hover;
    top: -1px;
  }

  &:active {
    box-shadow: $box-shadow-active;
  }
}

.button.primary {
  background: $blue;
  border: 1px solid transparent;
  color: #fff;

  &:hover,
  &:focus {
    background-color: $blue;
    color: #fff;
    border: 1px solid darken($blue, 12%);
  }
}

.button.secondary {
  background: $lightest-gray;
  border: 1px solid $light-gray;
  color: $blue;

  &:hover,
  &:focus {
    background: $lightest-gray;
    border: 1px solid $medium-gray;
    color: $blue;
    top: -1px;
  }

  &:active {
    box-shadow: $box-shadow-active;
  }
}

.primary,
.success,
.alert {
  font-weight: 600;
}

.button.success {
  border: 1px solid transparent;

  &:hover,
  &:focus {
    background: $green;
    border: 1px solid $dark-green;
  }
}

.button.alert {
  border: 1px solid transparent;
  color: #fff;

  &:hover,
  &:focus {
    background: $alert-color;
    border: 1px solid darken($alert-color, 20%);
    color: white;
  }
}

.button-group {
  .button {
    border-radius: 0;

    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
    }
  }
}

.icon {
  margin: -2px 7px 0 0;
  vertical-align: middle;
}
