.beige-bg {
  background: $beige;
  margin-bottom: $spacing-lg;
  padding: 20px 25px;
}

// Cards

.card {
  @include card;
  &:last-child {
    margin-bottom: 0;
  }

  .header {
    background: $lightest-gray;
    border-bottom: 1px solid lighten($light-gray, 3%);
    border-radius: $global-radius;
    padding: $spacing-md $spacing-md $spacing-md $spacing-lg;

    h2 {
      display: inline-block;
      margin-bottom: 0;
    }

    .label {
      margin-top: 7px;
    }

    .button {

    }
  }

  .tabs {
    background: transparent;
    border: 0;

    .tabs-title > a {
      border-radius: $border-radius;
      color: $black;
      font-size: 1em;
      margin-right: 5px;
      padding: .6rem 1rem;

      &:hover {
        background: darken($lightest-gray, 3%);
      }

      &:active {
        box-shadow: $box-shadow-active;
      }
    }
  }

  .content {
    padding: $spacing-lg;
  }

  .tabs-content {
    border: 0;
  }

  .tabs-panel {
    padding: 0;
  }

  .footer {
    border-top: 1px solid $light-gray;
    padding: $spacing-md $spacing-lg $spacing-md $spacing-md;

    button,
    .button {
      margin: 0 5px 0 0;
    }
  }
}
