label {
  font-weight: 600;
}


.help-text {
  color: $dark-gray;
  font-style: normal;
  margin-top: 4px;
}

fieldset {
  border: 1px solid $light-gray;
  margin-bottom: 10px;
  padding: 5px 20px 10px;
}

.form-actions {
  span {
    margin-left: .5em;
  }
}
