.item {
  @include card;
  box-shadow: none;
  margin-bottom: 5px;
  padding: 10px;
  position: relative;

  &:hover {
    box-shadow: $box-shadow-hover;
    top: -1px;
  }

  .tap-number {
    margin-right: 10px;
    width: 7%;

    input {
      height: 40px;
      margin-bottom: 0;
    }
  }

  .item-info {

    .thumbnail {
      border: 0;
      box-shadow: none;
      height: 40px;
      margin: 0 10px 0 0;
      padding: 0;
      width: 40px;
    }

    h4 {
      line-height: .9;
      margin: 0;
    }

    .untappd-info {
      border: 1px solid $anchor-color;
      border-radius: 50%;
      display: inline-block;
      font-size: 10px;
      font-weight: 700;
      height: 16px;
      padding-top: 3px;
      text-align: center;
      vertical-align: top;
      width: 16px;

      &:hover {
        opacity: .7;
      }
    }

    .brewery,
    span {
      color: $dark-gray;
      font-size: 1rem;
    }
  }

  .item-actions {
    padding-top: 8px;
    vertical-align: middle;

    a {
      padding: 0 5px;

      &:hover {
        opacity: .7;
      }
    }

    img {
      height: 24px;
    }
  }
}

.untappd-detail {
  border-bottom: 1px solid $light-gray;
  padding: $spacing-lg;

  img {
    height: 60px;
    margin-right: 10px;
    width: 60px;
  }

  h3 {
    margin: 0;
  }
}

.beer-description {
  margin: $spacing-md 0;
}
