@mixin border-radius {
  border-radius: $border-radius;
}

@mixin box-shadow {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

@mixin card {
  background: $white;
  color: $black;
  margin-bottom: 10px;
  border: 1px solid $light-gray;
  @include box-shadow;
  @include border-radius;
}
