.callout.success {
  border-color: rgba($success-color, .40);
}

.callout.warning {
  border-color: rgba($warning-color, .40);
}

.callout.alert {
  border-color: rgba($alert-color, .40);
}

.success, .warning, .alert p {
  font-weight: 500;
}
