.top-bar {
  background: $brand;
  box-shadow: 0 1px 5px #d9cbb6;
  border-bottom: 1px solid $brand-dark;
  padding: 0;

  .logo {
    margin: 10px 20px;
  }

  ul {
    background: transparent;
  }

  .menu {
    padding: 0 20px;

    a {
      color: #fff;
      margin: 0;
      padding: 20px 15px;
      font-weight: 600;
      transition: $transition;

      &:hover {
        background: $brand-dark;
      }
    }
  }
}
