.label {
  border-radius: 10px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-shadow: 1px 1px rgba(0,0,0,.15);
}

.label.primary,
.label.success {
  color: $white;
}

.label.secondary {
  background: darken($secondary-color, 15%);
}

.label.warning,
.label.secondary,
.label.alert {
  color: $white;
}
