body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  letter-spacing: .15px;
}

h5 span {
  color: $dark-gray;
  font-size: .75em;
  font-weight: 500;
}

h6 {
  text-transform: uppercase;
}

.description {
  color: $dark-gray;
  margin: 0;
}

p {
  color: $black;
}

.content p {

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  font-weight: 500;
}
