$spacing-sm: 12px;
$spacing-md: 20px;
$spacing-lg: 32px;

$box-shadow-hover: 0 4px 10px 0 rgba(0, 0, 0, .05);
$box-shadow-active: inset 0 1px 1px 0 rgba(0, 5, 5, .25);

$border-radius: 3px;

$transition: all .2s ease;
