<section id="buttons">
  <div class="card" id="primary-content">
    <div class="header">
      <h2>Buttons</h2>
    </div>
    <div class="content">
      <div class="section">
        <h5>Standard Buttons</h5>
        <% example do %>
<a class="button primary">Primary Button</a><br />
<a class="button secondary">Secondary Button</a><br />
<a class="button primary"><img class="icon" src="/images/icons/default-light.svg" />With Icon</a><br />
<a class="button secondary"><img class="icon" src="/images/icons/default-dark.svg" />With Icon</a><br />
<button type="button" class="success button">Save</button><br />
<button type="button" class="alert button">Delete</button><br />
        <% end %>
      </div>
      <div class="section">
        <h5>Alternate Sizes</h5>
        <% example do %>
<a class="large button primary" href="#">So Large</a><br />
<a class="small button primary" href="#">So Small</a><br />
<a class="tiny button primary" href="#">So Tiny</a><br />
<a class="expanded button primary" href="#">Such Expand</a>
        <% end %>
      </div>
    </div>
  </div>
</section>
