<section id="cards">
  <div class="card" id="primary-content">
    <div class="header">
      <h1>Buttons</h1>
    </div>
    <div class="content">
      <div class="section">
        <h6>Standard Buttons</h6>
        <% example do %>
<a class="button default">Learn More</a>
<a class="button button-secondary">View All Features</a>
<button type="button" class="success button">Save</button>
        <% end %>
      </div>
      <div class="section">
        <h6>Alternate Sizes</h6>
        <% example do %>
<a class="large button" href="#">So Large</a>
<a class="small button" href="#">So Small</a>
<a class="tiny button" href="#">So Tiny</a>
<a class="expanded button" href="#">Such Expand</a>
        <% end %>
      </div>
      <div class="section">
        <h6>Button Group</h6>
        <% example do %>
<div class="button-group">
  <a class="button">One</a>
  <a class="button">Two</a>
  <a class="button">Three</a>
</div>
        <% end %>
      </div>
    </div>
  </div>
</section>
