<section id="cards">
  <div class="card" id="primary-content">
    <div class="header">
      <h1>Buttons</h1>
    </div>
    <div class="content">
      <div class="section">
        <h6>Standard Buttons</h6>
        <% example do %>
<a class="button">Learn More</a><br />
<a class="button default">Learn More</a><br />
<button type="button" class="success button">Save</button><br />
        <% end %>
      </div>
      <div class="section">
        <h6>Alternate Sizes</h6>
        <% example do %>
<a class="large button default" href="#">So Large</a><br />
<a class="small button default" href="#">So Small</a><br />
<a class="tiny button default" href="#">So Tiny</a><br />
<a class="expanded button default" href="#">Such Expand</a>
        <% end %>
      </div>
    </div>
  </div>
</section>
