<section id="cards">
  <div class="card" id="primary-content">
    <div class="header">
      <h1>Cards</h1>
    </div>
    <div class="content">
      <div class="section">
        <h6>Card With Content</h6>
        <% example do %>
<div class="card">
  <div class="content">
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
  </div>
</div>
        <% end %>
      </div>

      <div class="section">
        <h6>Card With Header</h6>
        <% example do %>
<div class="card">
  <div class="header">
    <h1>Card Title</h1>
  </div>
  <div class="content">
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
  </div>
</div>
        <% end %>
      </div>

      <div class="section">
        <h6>Card With Header and Footer</h6>
        <% example do %>
<div class="card">
  <div class="header">
    <h1>Card Title</h1>
  </div>
  <div class="content">
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
  </div>
  <div class="footer">
    <button class="button success">Save this thing</button>
    or <a href="#">secondary action</a>
  </div>
</div>
        <% end %>
      </div>

      <div class="section">
        <h6>Card with Navigation</h6>
        <% example do %>
<div class="card">
  <div class="header">
    <h1>Card Title</h1>

    <ul class="menu float-right">
      <li><a href="#">Item One</a></li>
      <li><a href="#">Item Two</a></li>
      <li><a href="#">Item Three</a></li>
      <li><a href="#">Item Four</a></li>
      <li><a href="#">Item Five</a></li>
    </ul>
  </div>
  <div class="content">
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
  </div>
</div>
        <% end %>
    </div>
  </div>
</section>
