<section id="cards">
  <div class="card" id="primary-content">
    <div class="header">
      <h3>Cards</h3>
    </div>
    <div class="content">
      <div class="section">
        <h4>Card With Content</h4>
<% example do %>
  <div class="card">
    <div class="content">
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
    </div>
  </div>
<% end %>
      </div>

      <div class="section">
        <h4>Card With Header</h4>
        <% example do %>
          <div class="card">
            <div class="header">
              <h3>Card Header</h3>
            </div>
            <div class="content">
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
            </div>
          </div>
        <% end %>
      </div>

      <div class="section">
        <h4>Card With Header and Footer</h4>
        <% example do %>
          <div class="card">
            <div class="header">
              <h3>Card Header</h3>
            </div>
            <div class="content">
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
            </div>
            <div class="footer">
              <a href="#">Link to something</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
