<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <a href="/"><img class="logo" src="images/untappd-logo.svg" /></a>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="index.html">CSS</a></li>
        <li><a href="components.html">Compnents</a></li>
        <li><a href="#">Content Style Guide</a></li>
      </ul>
    </div>
  </div>
</div>
