<header class="navigation" id="sg">
  <div class="navigation-wrapper">
    <a href="/" class="logo pull-left">
      <img src="/images/untappd-logo.svg" alt="Logo Image">
    </a>
    <nav role="navigation">
      <ul class="navigation-menu list-horizontal pull-right">
        <li><a href="/">CSS</a></li>
        <li><a href="/components">Components</a></li>
        <li><a href="#">Content Style Guide</a></li>
      </ul>
    </nav>
  </div>
</header>
