<section id="helpers">
  <div class="card" id="primary-content">
    <div class="header">
      <h1>Helper Classes</h1>
    </div>
    <div class="content">
      <div class="section">
        <h6>Text Alignment</h6>
        <p>Align elements by adding <code>.left</code>, <code>.right</code>, <code>.center</code> or <code>.justify</code> classes.</p>
      </div>

      <div class="section">
        <h6>Floats</h6>
        <p>Float elements by adding <code>.left</code> and <code>.right</code>. Use <code>.clearfix</code> on the elements' container.</p>
      </div>

      <div class="section">
        <h6>Other Helpers</h6>
        <p>Remove margin by adding <code>.no-margin</code>.</p>
        <p>Remove padding by adding <code>.no-padding</code>.</p>
      </div>
    </div>
  </div>
</section>
