<section id="helpers">
  <div class="card" id="primary-content">
    <div class="header">
      <h1>Helper Classes</h1>
    </div>
    <div class="content">
      <div class="section">
        <h6>Text Alignment</h6>
        <% example do %>
<p>test</p>
        <% end %>
      </div>

      <div class="section">
        <h6>Text Alignment</h6>
        <% example do %>
<p>test</p>
        <% end %>
      </div>
    </div>
  </div>
</section>
