<section id="cards">
  <div class="card" id="primary-content">
    <div class="header">
      <h1>Item Layout</h1>
    </div>
    <div class="content">
      <% example do %>
<div class="item clearfix">
  <div class="tap-number float-left">
    <input type="text" placeholder="Tap #">
  </div>
  <div class="item-info float-left">
    <img class="thumbnail float-left" src="https://untappd.akamaized.net/site/assets/images/temp/badge-beer-default.png">
    <div class="float-left">
      <h5>Jai Alai IPA</h5>
      <span class="brewery">Cigar City Brewing</span><span class="sytle"> • IPA - American</span><span class="abv"> • 7.5% ABV</span>
    </div>
  </div>
  <div class="item-actions float-right">
    <a href="#"><img src="/images/change-custom-section-icon.svg"></a>
    <a href="#"><img src="/images/share-icon.svg"></a>
    <a href="#"><img src="/images/trash-can-med-gray.svg"></a>
    <a href="#"><img src="/images/move.svg"></a>
  </div>
</div>
      <% end %>
    </div>
  </div>
</section>
