<section id="cards">
  <div class="card" id="primary-content">
    <div class="header">
      <h3>Media Object</h3>
    </div>
    <div class="content">
      <% example do %>
<div class="media-object">
  <div class="media-object-section">
    <img class="thumbnail" src= "https://untappd.akamaized.net/site/beer_logos/beer-5724_64765_sm.jpeg">
  </div>
  <div class="media-object-section">
    <h5>Jai Alai IPA</h5>
    <span class="brewery">Cigar City Brewing</span><span class="sytle"> • IPA - American</span><span class="abv"> • 7.5% ABV</span>
  </div>
</div>
      <% end %>
    </div>
  </div>
</section>
