<section id="modal">
  <div class="card" id="primary-content">
    <div class="header">
      <h1>Modal Window</h1>
    </div>
    <div class="content">
      <div class="section">
        <% example do %>
<p>A modal is just an empty container, so you can put any kind of content inside it, from text to forms to video to an entire grid.</p>
<a class="button primary" data-open="exampleModal2">Click for modal example</a><br />
<div class="reveal card" id="exampleModal2" data-reveal>
  <div class="header">
    <h1>Modal Title</h1>
    <button class="close-button float-right" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span> Close
    </button>
  </div>
  <div class="content">
    <h6>Modal Content</h6>
    <p>Donec sed odio dui. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum.</p>
  </div>
</div>
        <% end %>
      </div>
    </div>
  </div>
</section>
