<div class="sidebar">
  <ul class="sg-nav-vertical">
    <li><a href="#header">Header</a></li>
    <li><a href="#navs">Navs</a></li>
    <li><a href="#location-selector">Location Selector</a></li>
    <li><a href="#menu-components">Menu Componets</a></li>
  </ul>
</div>
