<div class="sidebar">
  <ul class="">
    <li><a href="http://neat.bourbon.io/examples/" target="_blank">Grid</a></li>
    <li><a href="#typography">Typography</a></li>
    <li><a href="#buttons-links">Buttons & Links</a></li>
    <li><a href="#form-elements">Forms</a></li>
  </ul>
</div>
