<div class="card" id="sidebar">
  <div class="content">
    <ul class="no-bullet">
      <li><a href="#">Grid</a></li>
      <li><a href="#">Typography</a></li>
      <li><a href="#">Buttons & Links</a></li>
      <li><a href="#">Forms</a></li>
      <li><a href="#">Tables</a></li>
      <li><a href="#">Lists</a></li>
      <li><a href="#">Spinners</a></li>
      <li><a href="#">Helper Classes</a></li>
    </ul>
  </div>
</div>
