<div class="sidebar">
  <ul class="sg-nav-vertical">
    <li><a href="http://neat.bourbon.io/examples/" target="_blank">Grid <span>neat.bourbon.io</span></a></li>
    <li><a href="#typography">Typography</a></li>
    <li><a href="#buttons-links">Buttons & Links</a></li>
    <li><a href="#forms">Forms</a></li>
    <li><a href="#tables">Tables</a></li>
    <li><a href="#lists">Lists</a></li>
    <li><a href="#spinners">Spinners</a></li>
    <li><a href="#helper-classes">Helper Classes</a></li>
  </ul>
</div>
