<div class="sidebar">
  <ul class="sg-nav-vertical">
    <li><a href="http://neat.bourbon.io/examples/" target="_blank">Grid</a></li>
    <li><a href="#typography">Typography</a></li>
    <li><a href="#buttons-links">Buttons & Links</a></li>
    <li><a href="#forms">Forms</a></li>
    <li><a href="#navigation">Navigation</a></li>
    <li><a href="#tables">Tables</a></li>
  </ul>
</div>
