<section id="tables">
  <div class="card" id="primary-content">
    <div class="header">
      <h2>Tables</h2>
    </div>
    <div class="content">
      <div class="section">
        <h6>Standard Table</h6>
        <% example do %>
<table>
  <thead>
    <tr>
      <th width="200">Table Header</th>
      <th>Table Header</th>
      <th width="150">Table Header</th>
      <th width="150">Table Header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Justo Nullam</td>
      <td>Bibendum ligula aenean pellentesque</td>
      <td>Justo Nullam</td>
      <td>Justo Nullam</td>
    </tr>
    <tr>
      <td>Justo Nullam</td>
      <td>Bibendum ligula aenean pellentesque</td>
      <td>Justo Nullam</td>
      <td>Justo Nullam</td>
    </tr>
    <tr>
      <td>Justo Nullam</td>
      <td>Bibendum ligula aenean pellentesque</td>
      <td>Justo Nullam</td>
      <td>Justo Nullam</td>
    </tr>
  </tbody>
</table>
        <% end %>
      </div>
    </div>
  </div>
</section>
