---
layout: layout_componets
---

<div class="main">
  <section id="header">
    <h1>Header</h1>
    <div class="subsection">
      <h3>Default Header</h3>
      <header class="navigation">
        <div class="navigation-wrapper">
          <div class="logo">
            <img src="/images/untappd-logo.svg">
          </div>

          <div class="dropdown pull-right">
            <div class="dropdown-container">
              <p class="dropdown-button">
                <img src="/images/generic-user.svg" class="user-image">
                <span class="user">User Name</span>
              </p>
              <ul class="dropdown-menu dropdown-select">
                <li><a href="#">Account Settings</a></li>
                <li><a href="#">My Business</a></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>

      <h3>Brand Image</h3>
    </div>
  </section>

  <section id="navs">
    <h1>Navs</h1>
    <div class="subsection">
      <h3>Tabbed Navigation</h3>
      <ul class="nav-horizontal list-horizontal">
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#" class="active-link">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
      </ul>

      <h3>Vertical Navigation</h3>
      <ul class="nav-vertical">
        <li class="menu-header">
          <a href="#">Heading 1</a>
        </li>
        <ul>
          <li><a href="#">Subitem 1</a></li>
          <li><a href="#">Subitem 2</a></li>
          <li><a href="#">Subitem 3</a></li>
        </ul>
        <hr>
        <li class="menu-header">
          <a href="#" class="selected">Heading 2</a>
        </li>
        <ul>
          <li><a href="#">Subitem 1</a></li>
          <li><a href="#">Subitem 2</a></li>
          <li><a href="#">Subitem 3</a></li>
        </ul>
      </ul>
      <div class="margin-small">
        <a class="btn-secondary btn-small code-trigger">Show code</a>
        <figure class="code hidden">
          <pre><code class="language-ruby">## Tabbed Navigation
&lt;ul class="nav-horizontal list-horizontal"&gt;
&lt;li&gt;&lt;a href="path">Item 1&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="path">Item 2&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="path" class="active-link"&gt;Item 3&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="path"&gt;Item 4&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

## Vertical Navigation
&lt;ul class="nav-vertical"&gt;
&lt;li class="menu-header"&gt;
  &lt;a href="#"&gt;Heading 1&lt;/a&gt;
&lt;/li&gt;
&lt;ul&gt;
  &lt;li&gt;&lt;a href="#"&gt;Subitem 1&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Subitem 2&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Subitem 3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;hr&gt;
&lt;li class="menu-header"&gt;
  &lt;a href="#" class="selected"&gt;Heading 2&lt;/a&gt;
&lt;/li&gt;
&lt;ul&gt;
  &lt;li&gt;&lt;a href="#"&gt;Subitem 1&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Subitem 2&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Subitem 3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/ul&gt;</code></pre>
        </figure>
      </div>
    </div>
  </section>
</div>
