---
title: Untappd UX Style Guide
---

<div class="main">
  <section id="typography">
    <h1>Typography</h1>
    <div class="subsection">
      <h3>Headings</h3>
      <h1>Main Heading <span>(h1)</span></h1>
      <h2>Subpage Title <span>(h2)</span></h2>
      <h3>Section Header <span>(h3)</span></h3>
      <h4>Sub Section Heading <span>(h4)</span></h4>
      <h5>Body Copy Heading <span>(h5)</span></h5>
      <a class="btn-secondary btn-small code-trigger">Show code</a>
      <figure class="code hidden">
        <pre><code class="language-ruby">&lt;h1&gt;…&lt;/h1&gt;
&lt;h2&gt;…&lt;/h2&gt;
&lt;h3&gt;…&lt;/h3&gt;
&lt;h4&gt;…&lt;/h4&gt;
&lt;h5&gt;…&lt;/h5&gt;</code></pre>
      </figure>
    </div>

    <div class="subsection">
      <h3>Paragraphs</h3>
      <h4>Default</h4>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue.</p>

      <h4>Small Paragraph</h4>
      <p class="small-text">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue.</p>

      <div class="margin-small">
        <a class="btn-secondary btn-small code-trigger">Show code</a>
        <figure class="code hidden">
          <pre><code class="language-ruby">&lt;p class="small-text"&gt;…&lt;/p&gt;</code></pre>
        </figure>
      </div>
    </div>
  </section>

  <section id="buttons-links">
    <h1>Buttons & Links</h1>
    <div class="subsection">
      <h3>Anchor Tags</h3>
      <a href="#">This is an anchor tag</a>
      <div class="dark-background">
        <a href="#">This is an anchor tag</a>
      </div>
      <div class="margin-small">
        <a class="btn-secondary btn-small code-trigger">Show code</a>
        <figure class="code hidden">
          <pre><code class="language-ruby">&lt;a href="path"&gt;…&lt;/a&gt;
&lt;div class="dark-background"&gt;
  &lt;a href="path"&gt;…&lt;/a&gt;
&lt;/div&gt;</code></pre>
        </figure>
      </div>
    </div>

    <div class="subsection">
      <h3>Buttons</h3>
      <div class="margin-small">
        <button>Default Button</button>
        <button class="btn-primary">Primary Button</button>
        <button class="btn-secondary">Secondary Button</button>
        <button class="btn-save">Save Button</button>
        <button class="text-link">Text Link</button>
      </div>

      <h3>Small Buttons</h3>
      <button class="btn-small">Default Button</button>
      <button class="btn-primary btn-small">Primary Button</button>
      <button class="btn-secondary btn-small">Secondary Button</button>
      <button class="btn-save btn-small">Save Button</button>
      <button class="text-link btn-small">Text Link</button>
      <div class="margin-small">
        <a class="btn-secondary btn-small code-trigger">Show code</a>
        <figure class="code hidden">
          <pre><code class="language-ruby">## Buttons
&lt;button&gt;Default Button&lt;/button&gt;
&lt;button class="btn-primary"&gt;Default Button&lt;/button&gt;
&lt;button class="btn-secondary"&gt;Default Button&lt;/button&gt;
&lt;button class="btn-save"&gt;Default Button&lt;/button&gt;
&lt;button class="text-link"&gt;Default Button&lt;/button&gt;

## Small Buttons
&lt;button class="btn-small"&gt;Default Button&lt;/button&gt;
&lt;button class="btn-primary btn-small"&gt;Default Button&lt;/button&gt;
&lt;button class="btn-secondary btn-small"&gt;Default Button&lt;/button&gt;
&lt;button class="btn-save btn-small"&gt;Default Button&lt;/button&gt;
&lt;button class="text-link btn-small"&gt;Default Button&lt;/button&gt;</code></pre>
      </figure>
    </div>
  </section>

  <section id="forms">
    <h1>Forms</h1>
    <div class="subsection">
      <h3>Horizontal Form</h3>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" id="exampleInputFile">
          <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="c1" name="cc" />
          <label for="c1"><span></span>Check me out</label>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn-save">Submit</button>
          <!-- Optional cancel link -->
          <a class="text-link" href="#">Cancel</a>
        </div>
      </form>
      <div class="margin-small">
        <a class="btn-secondary btn-small code-trigger">Show code</a>
        <figure class="code hidden">
          <pre><code class="language-ruby">&lt;form&gt;
&lt;div class="form-group"&gt;
  &lt;label for="exampleInputEmail1"&gt;Email address&lt;/label&gt;
  &lt;input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
  &lt;label for="exampleInputPassword1"&gt;Password&lt;/label&gt;
  &lt;input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
  &lt;label for="exampleInputFile"&gt;File input&lt;/label&gt;
  &lt;input type="file" id="exampleInputFile"&gt;
  &lt;p class="help-block"&gt;Example block-level help text here.&lt;/p&gt;
&lt;/div&gt;
&lt;div class="checkbox"&gt;
  &lt;label&gt;
    &lt;input type="checkbox"&gt; Check me out
  &lt;/label&gt;
&lt;/div&gt;
&lt;div class="form-actions"&gt;
  &lt;button type="submit" class="btn-save"&gt;Submit&lt;/button&gt;
  &lt;a class="text-link" href="#"&gt;Cancel&lt;/a&gt;
&lt;/div&gt;
&lt;/form&gt;</code></pre>
        </figure>
      </div>
    </div>

    <div class="subsection">
      <h3>Horizontal Form</h3>
      <form class="form-inline">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-actions">
          <button type="submit" class="btn-save">Log in</button>
          <!-- Optional cancel link -->
          <a class="text-link" href="#">Cancel</a>
        </div>
      </form>
      <div class="margin-small">
        <a class="btn-secondary btn-small code-trigger">Show code</a>
        <figure class="code hidden">
          <pre><code class="language-ruby">&lt;form class="form-inline"&gt;
  &lt;div class="form-group"&gt;
    &lt;label for="exampleInputEmail1"&gt;Email address&lt;/label&gt;
    &lt;input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"&gt;
  &lt;/div&gt;
  &lt;div class="form-group"&gt;
    &lt;label for="exampleInputPassword1"&gt;Password&lt;/label&gt;
    &lt;input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"&gt;
  &lt;/div&gt;
  &lt;div class="form-actions"&gt;
    &lt;button type="submit" class="btn-save"&gt;Log in&lt;/button&gt;
    ## Optional cancel link
    &lt;a class="text-link" href="#"&gt;Cancel&lt;/a&gt;
  &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </figure>
      </div>
    </div>

    <div class="subsection">
      <h3>Validation Feedback</h3>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control form-error" id="exampleInputEmail1">
        <p class="help-block error-text">Email is a required field.</p>
      </div>
      <div class="margin-small">
        <a class="btn-secondary btn-small code-trigger">Show code</a>
        <figure class="code hidden">
          <pre><code class="language-ruby">&lt;label for="exampleInputEmail1"&gt;Email address&lt;/label&gt;
&lt;input type="email" class="form-control form-error" id="exampleInputEmail1"&gt;
&lt;p class="help-block error-text"&gt;Email is a required field.&lt;/p&gt;</code></pre>
        </figure>
      </div>
    </div>

    <div class="subsection">
      <h3>Form Elements</h3>
      <h4>Checkboxes</h4>
      <input type="checkbox" id="c1" name="cc" checked />
      <label for="c1"><span></span>Checkbox (checked)</label>
      <br />
      <input type="checkbox" id="c2" name="cc" />
      <label for="c2"><span></span>Checkbox</label>
      <br />
      <input type="checkbox" id="c3" name="cc" disabled />
      <label for="c3"><span></span>Disabled checkbox</label>

      <h4>Radio Buttons</h4>
      <input type="radio" id="r1" name="cc" checked />
      <label for="r1"><span></span>Radio Button (checked)</label>
      <br />
      <input type="radio" id="r2" name="cc" />
      <label for="r2"><span></span>Radio Button</label>
      <br />
      <input type="radio" id="r3" name="cc" disabled />
      <label for="r3"><span></span>Disabled radio button</label>

      <div class="margin-small">
        <a class="btn-secondary btn-small code-trigger">Show code</a>
        <figure class="code hidden">
          <pre><code class="language-ruby">## Checkboxes
&lt;input type="checkbox" id="c1" name="cc" checked /&gt;
&lt;label for="c1"&gt;&lt;span&gt;&lt;/span&gt;Checkbox&lt;/label&gt;
&lt;input type="checkbox" id="c2" name="cc" /&gt;
&lt;label for="c2"&gt;&lt;span&gt;&lt;/span&gt;Checkbox&lt;/label&gt;
&lt;input type="checkbox" id="c3" name="cc" disabled /&gt;
&lt;label for="c3"&gt;&lt;span&gt;&lt;/span&gt;Disabled checkbox&lt;/label&gt;

## Radio Buttons
&lt;input type="radio" id="r1" name="cc" checked /&gt;
&lt;label for="r1"&gt;&lt;span&gt;&lt;/span&gt;Radio Button&lt;/label&gt;
&lt;input type="radio" id="r2" name="cc" /&gt;
&lt;label for="r2"&gt;&lt;span&gt;&lt;/span&gt;Radio Button&lt;/label&gt;
&lt;input type="radio" id="r3" name="cc" disabled /&gt;
&lt;label for="r3"&gt;&lt;span&gt;&lt;/span&gt;Disabled radio button&lt;/label&gt;</code></pre>
      </figure>
    </div>

    <div class="subsection">
      <h4>Select</h4>
      <select maxheight="-1" data-dojo-type="dijit/form/Select"> <option value="">Select an option</option> <option value="1">Option 1</option> <option value="2">Option 2</option> <option value="3">Option 3</option></select>
      <div class="margin-small">
        <a class="btn-secondary btn-small code-trigger">Show code</a>
        <figure class="code hidden">
          <pre><code class="language-ruby">&lt;select maxheight="-1" data-dojo-type="dijit/form/Select"&gt; &lt;option value=""&gt;Select an option&lt;/option&gt; &lt;option value="1"&gt;Option 1&lt;/option&gt; &lt;option value="2"&gt;Option 2&lt;/option&gt; &lt;option value="3"&gt;Option 3&lt;/option&gt;&lt;/select&gt;</code></pre>
        </figure>
      </div>
    </div>
  </section>

  <section id="tables">
    <h1>Tables</h1>
    <div class="subsection">
      <h3>Standard Table</h3>
      <table>
        <thead>
          <tr>
            <th>Table Header 1</th>
            <th>Table Header 2</th>
            <th>Table Header 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Division 1</td>
            <td>Division 2</td>
            <td>Division 3</td>
          </tr>
          <tr>
            <td>Division 1</td>
            <td>Division 2</td>
            <td>Division 3</td>
          </tr>
          <tr>
            <td>Division 1</td>
            <td>Division 2</td>
            <td>Division 3</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="subsection">
      <h3>Striped Table</h3>
      <table class="table-striped">
        <thead>
          <tr>
            <th>Table Header 1</th>
            <th>Table Header 2</th>
            <th>Table Header 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Division 1</td>
            <td>Division 2</td>
            <td>Division 3</td>
          </tr>
          <tr>
            <td>Division 1</td>
            <td>Division 2</td>
            <td>Division 3</td>
          </tr>
          <tr>
            <td>Division 1</td>
            <td>Division 2</td>
            <td>Division 3</td>
          </tr>
        </tbody>
      </table>
      <div class="margin-small">
        <a class="btn-secondary btn-small code-trigger">Show code</a>
        <figure class="code hidden">
          <pre><code class="language-ruby">## Standard Navigation
&lt;table&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Table Header 1&lt;/th&gt;
      &lt;th&gt;Table Header 2&lt;/th&gt;
      &lt;th&gt;Table Header 3&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;Division 1&lt;/td&gt;
      &lt;td&gt;Division 2&lt;/td&gt;
      &lt;td&gt;Division 3&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Division 1&lt;/td&gt;
      &lt;td&gt;Division 2&lt;/td&gt;
      &lt;td&gt;Division 3&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Division 1&lt;/td&gt;
      &lt;td&gt;Division 2&lt;/td&gt;
      &lt;td&gt;Division 3&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;

## Striped navigation
&lt;table class="table-striped"&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Table Header 1&lt;/th&gt;
      &lt;th&gt;Table Header 2&lt;/th&gt;
      &lt;th&gt;Table Header 3&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;Division 1&lt;/td&gt;
      &lt;td&gt;Division 2&lt;/td&gt;
      &lt;td&gt;Division 3&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Division 1&lt;/td&gt;
      &lt;td&gt;Division 2&lt;/td&gt;
      &lt;td&gt;Division 3&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Division 1&lt;/td&gt;
      &lt;td&gt;Division 2&lt;/td&gt;
      &lt;td&gt;Division 3&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</code></pre>
        </figure>
      </div>
    </div>
  </section>

  <section id="lists">
    <h1>Lists</h1>
    <div class="subsection">
      <h3>Unordered List</h3>
      <ul class="list-unstyled">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
      </ul>

      <h3>Ordered List</h3>
      <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
      </ol>

      <div class="margin-small">
        <a class="btn-secondary btn-small code-trigger">Show code</a>
        <figure class="code hidden">
          <pre><code class="language-ruby">## Unordered List
&lt;ul class="list-unstyled"&gt;
  &lt;li&gt;Item 1&lt;/li&gt;
  &lt;li&gt;Item 2&lt;/li&gt;
  &lt;li&gt;Item 3&lt;/li&gt;
  &lt;li&gt;Item 4&lt;/li&gt;
&lt;/ul&gt;

## Ordered List
&lt;ol&gt;
  &lt;li&gt;Item 1&lt;/li&gt;
  &lt;li&gt;Item 2&lt;/li&gt;
  &lt;li&gt;Item 3&lt;/li&gt;
  &lt;li&gt;Item 4&lt;/li&gt;
&lt;/ol&gt;</code></pre>
        </figure>
      </div>

      <!-- <h3>Item List</h3>
      <ul class="menu-items">
        <li class="sortable-item clearfix">
          <a href="#" class="move-handle pull-left">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <a href="#">
            <img class="thumb pull-left" src="https://untappd.akamaized.net/site/beer_logos/beer-FoundersKBS.jpg" />
            <div class="item-label pull-left">
              <span class="name">Kentucky Breakfast Stout</span>
              <span class="brand">Founders Brewing Co.</span>
            </div>
          </a>
          <a href="#" class="delete pull-right"><img src="/images/trash-can-med-gray.svg"></a>
        </li>
        <li class="sortable-item clearfix">
          <a href="#" class="move-handle pull-left">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <a href="#">
            <img class="thumb pull-left" src="https://untappd.akamaized.net/site/beer_logos/beer-4133_04292_sm.jpeg" />
            <div class="item-label pull-left">
              <span class="name">Two Hearted Ale</span>
              <span class="brand">Bell's Brewery, Inc.</span>
            </div>
          </a>
          <a href="#" class="delete pull-right"><img src="/images/trash-can-med-gray.svg"></a>
        </li>
        <li class="sortable-item clearfix">
          <a href="#" class="move-handle pull-left">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <a href="#">
            <img class="thumb pull-left" src="https://untappd.akamaized.net/site/beer_logos/beer-123662_39287_sm.jpeg" />
            <div class="item-label pull-left">
              <span class="name">Dragon's Milk</span>
              <span class="brand">New Holland Brewing Co.</span>
            </div>
          </a>
          <a href="#" class="delete pull-right"><img src="/images/trash-can-med-gray.svg"></a>
          <div class="expanded-item">
            <span class="style">Stout American Imperial / Double</span> | <span class="abv">11.0 ABV</span> | <span class="ibu">31.0 IBU</span> | <span class="untappd-label">Untappd Rating:</span><span class="rating small r450"></span>
            <p class="description small-text">What we’ve got here is an imperial stout brewed with a massive amount of coffee and chocolates, then cave-aged in oak bourbon barrels for an entire year to make sure wonderful bourbon undertones come through in the finish. Makes your taste buds squeal with delight.</p>
            <form class="form-inline">
              <div class="form-group">
                <select maxheight="-1" data-dojo-type="dijit/form/Select"> <option value="">Container type</option> <option value="1">Option 1</option> <option value="2">Option 2</option> <option value="3">Option 3</option></select>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Price</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Price">
              </div>
              <div class="form-actions">
                <a href="#" class="text-link delete">Delete</a>
              </div>
            </form>
            <a href="#" class="btn-secondary btn-small">+ Add new container</a>
          </div>
        </li>
      </ul> -->
    </div>
  </section>

  <section id="spinners">
    <h1>Spinners</h1>
    <div class="subsection">
      <h3>Color spinner</h3>
      <div class="spinner spinner-color">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>

      <h3>Dark spinner</h3>
      <div class="spinner spinner-dark">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>

      <h3>Light spinner</h3>
      <div class="dark-background">
        <div class="spinner spinner-light">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>

      <div class="margin-small">
        <a class="btn-secondary btn-small code-trigger">Show code</a>
        <figure class="code hidden">
          <pre><code class="language-ruby">## Color Spinner
&lt;div class="spinner spinner-color"&gt;
  &lt;div class="bounce1"&gt;&lt;/div&gt;
  &lt;div class="bounce2"&gt;&lt;/div&gt;
  &lt;div class="bounce3"&gt;&lt;/div&gt;
&lt;/div&gt;

## Dark Spinner
&lt;div class="spinner spinner-dark"&gt;
  &lt;div class="bounce1"&gt;&lt;/div&gt;
  &lt;div class="bounce2"&gt;&lt;/div&gt;
  &lt;div class="bounce3"&gt;&lt;/div&gt;
&lt;/div&gt;

## Light Spinner
&lt;div class="spinner spinner-light"&gt;
  &lt;div class="bounce1"&gt;&lt;/div&gt;
  &lt;div class="bounce2"&gt;&lt;/div&gt;
  &lt;div class="bounce3"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
        </figure>
      </div>
    </div>
  </section>

  <section id="helper-classes">
    <h1>Helper Classes</h1>
    <div class="subsection">
      <h3>Quick Floats</h3>
      <p>Float an element to the left or right with a class.</p>
      <pre><code class="language-ruby">## As a class
&lt;div class="pull-left"&gt;…&lt;/div&gt;
&lt;div class="pull-right"&gt;…&lt;/div&gt;

## As a mixin
@mixin pull-left
@mixin pull-right</code></pre>

      <h3>Clearfix</h3>
      <p>Easily clear <code>float</code>s by adding <code>.clearfix</code> to the parent element. Can also be used as a mixin.</p>
      <pre><code class="language-ruby">## As a class
&lt;div class="clearfix"&gt;…&lt;/div&gt;

## As a mixin
@mixin clearfix</code></pre>
    </div>
  </section>
</div>
